                                      body {
  background-color:cadetblue;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.orangeredbackground {
  background-color: orangered;
}


h1 {
  color: aliceblue;
}

.orange {
  color: orange;
}

.blue {
  color:blue;
}

.tealbackground {
  background-color:cyan;
}


.white {
  color:white;
}

.center {
  text-align: center;
}